{% extends "base.html" %}

{% block titolo %}
    <title>Calminaro</title>
{% endblock %}

{% block corpo %}
    <div class="m-4">
    <div class="text-center my-2">
        <a href="https://instagram.com/calminaro"><img src="/static/profilo_skydive.jpg" alt="img profilo" style="width: 5rem;border-radius:50%;"></a>
    </div>
    <figure class="text-center my-2">
      <blockquote class="blockquote">
        <h1><em><strong>Alberto Calmini</strong></em></h1>
      </blockquote>
      <figcaption class="blockquote-footer">
        <cite title="Un ingegno smisurato per il mago è dono grato.">Un ingegno smisurato per il mago è dono grato.</cite>
      </figcaption>
    </figure>
    <hr>
    <div class="text-center">
        <h3><em><strong>Realtà con cui collaboro</strong></em></h3>
        <a href="https://aeroclub-albatros.it/" type="button" class="btn btn-outline-dark my-2" style="width: 15rem;">ASD Aero Club Albatros</a>
        <br>
        <a href="https://acquiscout.weebly.com/" type="button" class="btn btn-outline-dark my-2" style="width: 15rem;">Gruppo Scout Acqui 1</a>
    </div>
    <hr>
    <div class="text-center">
        <h3><em><strong>I miei ultimi progetti</strong></em></h3>
        <p>
            <em><strong>Albatros Didattica</strong></em>
            <br>
            Un Gestionale per le scuole VDS VL e VM di Aero Club Albatros
        </p>
        <a href="https://albatrosdidattica.pythonanywhere.com/" type="button" class="btn btn-outline-dark my-2" style="width: 15rem;">Scopri di più</a>

    </div>
    <hr>
    <div class="text-center">
        <p><em>Creato con <img src="/static/amore.png" alt="love" style="width: 1rem;"> da <strong>Alberto Calmini</strong></em></p>
        <a href="https://palletsprojects.com/p/flask/"><img src="/static/flask.png" alt="flask" style="width: 5rem;"></a>
        <a href="https://www.python.org/"><img src="/static/python.png" alt="python" style="width: 5rem;"></a>
    </div>
    <div class="text-center my-2">
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="calminaro" data-color="#FFDD00" data-emoji="🍺"  data-font="Cookie" data-text="Buy me a beer" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
    </div>
    </div>

{% endblock %}
