{% extends "base.html" %}

{% block titolo %}
    <title>Passvord Generator</title>
{% endblock %}

{% block corpo %}
    <script type="module" src="/static/password.js"></script>

    <div class="text-center my-2">
        <h1><em><strong>Password Generator</strong></em>
        <a href="https://www.javascript.com/"><img src="/static/javascript.png" alt="javascript" style="width: 5rem;"></a>
        </h1>
    </div>
    <div class="mx-5 mb-5">
        <div v-scope>
        <label for="numero" class="form-label">Quanto deve essere lunga la password?</label>
        <div class="row text-center">
        <div class="col-11">
            <input type="number" class="form-control" aria-label="numero" name="numero" id="numero">
        </div>
        <div class="col">
        <button id="submit" class="btn btn-primary" @click="genera_password">Genera</button>
        </div>
        </div>
        <hr>
        <p>Password: <strong>[[ password ]]</strong></p>
        </div>
    </div>
    <div class="text mx-5" style="text-align: justify;">
        <p>
            Grazie a questo servizio puoi generare password!
            <br>
            Le password vengono generate client-side con l'utilizzo di JavaScript.<br>Le Password non vengono mai salvate ne inviate al server.
        </p>
    </div>

{% endblock %}
