{% extends "base.html" %}

{% block titolo %}
    <title>Calminaro - Whatsapp Sender</title>
{% endblock %}

{% block corpo %}
    <script type="module" src="/static/whatsapp.js"></script>
    <div class="text-center my-2">
        <h1><em><strong>WhatsApp Sender</strong></em>
        <a href="/"><img src="/static/whatsapp.ico" alt="whatsapp" style="width: 5rem;"></a>
        </h1>
    </div>
    <div class="text mx-5 my-2" style="text-align: justify;">
        <p>
            Grazie a questo servizio puoi scrivere a utenti WhatsApp senza dover salvare il loro contatto!
        </p>
    </div>
    <div class="mb-5 mx-5">
        <div v-scope>
        <label for="numero" class="form-label">Numero di cellulare</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">+39</span>
            <input type="number" class="form-control" placeholder="3000000000" aria-label="numero" name="numero" id="numero">
        </div>
        <div>
            <label for="testo_messaggio" class="form-label">Testo del messaggio (opzionale)</label>
            <textarea class="form-control" aria-label="testo_messaggio" name="testo_messaggio" id="testo_messaggio"></textarea>
        </div>
        <div class="text-center my-2">
        <button id="submit" class="btn" @click="genera_redirect"><img src="/static/click_whatsapp.svg" alt="flask" style="width: 15rem;"></button>
        </div>
        </div>
    </div>
    <div class="text mx-5" style="text-align: justify;">
        <p>
            Numero di telefono e testo inseriti non vengono mai salvati ne inviati al server, la chiamata alle API di WhatsApp viene effettuata client-side.
        </p>
    </div>

{% endblock %}
